<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @contato.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @contato.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contato.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @contato.phone %>
</p>

<%= link_to 'Edit', edit_contato_path(@contato) %> |
<%= link_to 'Back', contatos_path %>
